dist-newstyle/build/x86_64-windows/ghc-9.4.8/ASFInvoiceParser-0.1.0.0/x/ASFInvoiceParser/setup-config
dist-newstyle/build/x86_64-windows/ghc-9.4.8/ASFInvoiceParser-0.1.0.0/x/ASFInvoiceParser/build/ASFInvoiceParser/ASFInvoiceParser-tmp/Main.hi
dist-newstyle/build/x86_64-windows/ghc-9.4.8/ASFInvoiceParser-0.1.0.0/x/ASFInvoiceParser/build/ASFInvoiceParser/ASFInvoiceParser-tmp/Main.o
dist-newstyle/build/x86_64-windows/ghc-9.4.8/ASFInvoiceParser-0.1.0.0/x/ASFInvoiceParser/cache/build
dist-newstyle/build/x86_64-windows/ghc-9.4.8/ASFInvoiceParser-0.1.0.0/x/ASFInvoiceParser/cache/config
dist-newstyle/build/x86_64-windows/ghc-9.4.8/ASFInvoiceParser-0.1.0.0/x/ASFInvoiceParser/cache/registration
dist-newstyle/build/x86_64-windows/ghc-9.4.8/ASFInvoiceParser-0.1.0.0/x/ASFInvoiceParser/build/ASFInvoiceParser/autogen/cabal_macros.h
dist-newstyle/cache/solver-plan
dist-newstyle/cache/source-hashes
dist-newstyle/cache/up-to-date
dist-newstyle/packagedb/ghc-9.4.8/package.cache
dist-newstyle/packagedb/ghc-9.4.8/package.cache.lock
dist-newstyle/build/x86_64-windows/ghc-9.4.8/ASFInvoiceParser-0.1.0.0/x/ASFInvoiceParser/package.conf.inplace/package.cache
dist-newstyle/build/x86_64-windows/ghc-9.4.8/ASFInvoiceParser-0.1.0.0/x/ASFInvoiceParser/package.conf.inplace/package.cache.lock
dist-newstyle/cache/compiler
dist-newstyle/cache/config
dist-newstyle/cache/elaborated-plan
dist-newstyle/cache/improved-plan
